label.error {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 11px;
    color: #ff0000; }
label.error i {
    font-size: 12px; }

input.error {
    border: 1px solid #ff0000; }

input.error {
    border: 1px solid #ff0000; }


 select, textarea {
    box-sizing: border-box;
    background: transparent;
    font-size: 11px;
    padding: 9px 12px;
    border: 1px solid #ebebeb;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab';
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    display: block;
    width: 100%;
    margin-right: 10px;
    font-weight: bold; }
input:focus, select:focus, textarea:focus {
    background: none; }

